@tailwind base;
@tailwind components;
@tailwind utilities;

/* font face styles */
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
}

.wrapper {
  @apply min-h-screen flex flex-nowrap items-stretch justify-start flex-col font-sans;
}
